@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --grey: hsl(217, 12%, 63%);
  --blue: hsl(215, 29%, 15%);
  --dark-blue: hsl(214, 32%, 10%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: "Overpass", Courier, monospace;
}
